!!!5
%html{ "data-ng-app" => "sdrUI" }
  %head
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=utf-8" }
    %meta{ name: "viewport",
      content: "width=device-width, initial-scale=1, minimal-ui" }
    %title Webpack HAML Ruby
  %body
    Hello world
    %script{ src: "/bundle.js" }
